<!DOCTYPE html>
<html lang="en" style="height: 100%;" ws_client="{{app['WS_CLIENT']|default('')}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{% endblock %}
        {#
            CSS - TO DO : put in one minified file 
        #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/css/sprite.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/css/general.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        {#
            JS - TO DO : put in one minified file 
        #}
        <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    </head>
    
    <body style="padding-bottom: 150px; height: 100%; overflow-y: hidden ;">
        
        {# NAVBAR #}
        
        {% embed 'navbar_new.twig' %}
        {% endembed %}
        
        {# FLASHBAG MESSAGES #}

        <div id="message" style="position: absolute; top: 52px; right: 100px; padding: 5px; z-index: 10;">
        {% for type , messages in app.session.flashbag.all() %}
            {%for message in messages %}
                    <div style="float: right; clear: right; display: inline-block;">
                        <div class="alert alert-{{type}} alert-dismissable" style="margin-bottom: 10px;" alert_number="{{loop.index}}">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    </div>
            {% endfor %}
        {% endfor %}
        </div>

        {# MAIN CONTENT #}

        <div id="main-area" class="container-fluid main-area">
            {% block content %}
            {% endblock %}

            {# EVENTS IN PLAY #}

            {% embed 'EventsInPlay.twig' %}
            {% endembed %}
            
        </div>
        
        {# ROME'S STATE : Treasury, unrest, land bills, forces #}

        {% embed 'RomeState_new.twig' %}
        {% endembed %}


        {# FOOTER - LOG #} 

        {% embed 'Log_new.twig' %}
        {% endembed %}
        
        {#
            TO DO : Move this to one minified file
            Javascript :
            - The GeneralFunctions.js is always loaded
            - If a game is defined, the file js/{{phase}}/{{subphase}}.js is loaded
            - If no game is defined, the file js/Lobby.js is loaded
        #}
        <script src="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/js/GeneralFunctions.js"></script>
        {% if view.game is defined %}
            <script src="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/js/{{view.game.phase}}/{{view.game.subPhase}}.js"></script>
        {% else %}
            <script src="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/js/Lobby/Lobby.js"></script>
        {% endif %}
    </body>
</html>
