<!DOCTYPE html>
<html lang="en" style="height: 100%;" ws_client="{{app['WS_CLIENT']|default('')}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{% endblock %}
        {#
            CSS - TO DO : put in one minified file 
        #}
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap.css' , 'css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('jquery.dataTables.min.css' , 'css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('sprite.css' , 'css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('general.css' , 'css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('jquery-ui.css' , 'css') }}">

        {#
            JS - TO DO : put in one minified file 
        #}
        <script type="text/javascript" src="{{ asset('socket.io-1.2.0.js' , 'js') }}"></script>
        <script type="text/javascript" src="{{ asset('jquery.min.js' , 'js') }}"></script>
        <script type="text/javascript" src="{{ asset('jquery-ui.min.js' , 'js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap.js' , 'js') }}"></script>
        <script type="text/javascript" src="{{ asset('jquery.dataTables.min.js' , 'js') }}"></script>
        {#
            JS - RepublicOfRome.js file with all the app-specific functions
        #}
        <script src="{{ global.request.basepath }}/..{{app['BASE_URL']}}/resources/js/RepublicOfRome.js"></script>
    </head>
    
    <body style="padding-bottom: 150px; height: 100%; overflow-y: hidden ;" data-json='{"user_id": "{{app.user.id}}"}'>
        
        {# NAVBAR #}
        
        {% embed 'navbar_new.twig' %}
        {% endembed %}
        
        {# FLASHBAG MESSAGES #}

        <div id="message" style="position: absolute; top: 52px; right: 100px; padding: 5px; z-index: 10;">
        {% for type , messages in app.session.flashbag.all() %}
            {%for message in messages %}
                    <div style="float: right; clear: right; display: inline-block;">
                        <div class="alert alert-{{type}} alert-dismissable" style="margin-bottom: 10px;" alert_number="{{loop.index}}">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    </div>
            {% endfor %}
        {% endfor %}
        </div>

        {# MAIN CONTENT #}

        <div id="main-area" class="container-fluid main-area">
            {% block content %}
            {% endblock %}

            {# EVENTS IN PLAY #}

            {% embed 'EventsInPlay.twig' %}
            {% endembed %}
            
        </div>
        
        {# ROME'S STATE : Treasury, unrest, land bills, forces #}

        {% embed 'RomeState_new.twig' %}
        {% endembed %}


        {# FOOTER - LOG #} 

        {% embed 'Log_new.twig' %}
        {% endembed %}
        
    </body>
</html>
