<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/../resources/css/sprite.css">
        <style>
            .sortable-list-placeholder { background-color: #bbb; border: 1px dashed #666; margin-bottom: -1px; padding: 10px 15px; }
            .ui-resizable { position: relative;}
            .ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
            .ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
            .ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
            .ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
            .ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
            .ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
            .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
            .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
            .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
            .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
        </style>
    </head>
    
    <body style="padding-bottom: 150px; height: 100%;">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{app['BASE_URL']~'/'}}">Home</a>
                    {% block menu %}{% endblock %}
                    {% if game is defined %}
                        <span class="navbar-brand" style="color: darkblue ;">
                            {{game.getName()}}
                        </span>
                    {% endif %}
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('user.list') }}">List users</a></li>
                        {% if app.user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Hello, {{ app.user.displayName }}!
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('user') }}"><span class="glyphicon glyphicon-user"></span> View your profile</a></li>
                                    <li><a href="{{ path('user.edit', { id: app.user.id }) }}"><span class="glyphicon glyphicon-edit"></span> Edit your profile</a></li>
                                    <li><a href="{{ path('user.logout') }}"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('user.login') }}">Sign in</a></li>
                            <li><a href="{{ path('user.register') }}">Create account</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>

        <!--
            - Flashbag messages
            - Main content
        -->

        <div class="container-fluid" style="
             top:52px;
             height:100%;
             width:100%;
             border-top:52px solid transparent;
             -webkit-box-sizing:border-box;
             -moz-box-sizing:border-box;
             box-sizing:border-box;
             overflow-y:auto;
             overflow-x:hidden;
             padding-left: 80px;
             padding-right: 80px;
        ">
            {% for type , messages in app.session.flashbag.all() %}
                {%for message in messages %}
                    <div class="alert alert-{{type}} alert-dismissible">{{message}}</div>
                {% endfor %}
            {% endfor %}

            {% block content %}
            {% endblock %}
        </div>
        
        <!--
            Footer with :
            - Log
        -->

        {% if game is defined %}
            <div class="footer" style="overflow-y: auto; height: 150px; position: fixed; bottom: 0px; width: 100%; background-color: #f5f5f5; padding: 5px;">
                <div class="container-fluid">
                    <p class="text-success">This will also contain the chat interface</p>
                    <table class="table table-stripped">
                        {% for message in game.getAllMessages(app.user.id)%}
                            <tr>
                                <th style="white-space: nowrap;">
                                    {{message.getTime()|date('Y/m/d H:i:s')}}
                                </th>
                                <td style="color: {{message.getColour()}}; width:100%; ">
                                    {{message.show(app.user.id , game.getPartiesNames())}}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
        
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
        <!--
            Scripts for :
            - JqueryUI : Sortable lists
            - SocketIO : reload window when 'Update' received
            - Jquery - on POST : submit FORM data as Json array
            - Jquery - on POST : include any sortable list data to the Json array
            - Jquery - on POST : Post to a URL with the 'verb' as the last part of the route
            - SocketIO - on POST : Emit 'Update'
        -->

        <script>
        /* jquery code for jqueryUI to handle :
         * - Sortable lists
         * - Draggable cards
         * - Droppable card Slots
         */
        $(document).ready(function(){
            $('.sortable-list').sortable({
                connectWith: '.sortable-list',
                placeholder: 'sortable-list-placeholder'
            });
            
            $('div[id^="Card_"]').each(function() {
                $(this).draggable({
                    scroll:true,
                    start: function (event, ui) {
                       $(this).data("startingScrollTop",window.pageYOffset);
                    },
                    drag: function(event,ui){
                       var st = parseInt($(this).data("startingScrollTop"));
                       ui.position.top -= st;
                    },
                    cursor: 'move' ,
                    helper: 'clone'
                });
            });
            
            $('div[id^="CardSlot"]').droppable( {
                drop: handleDropEvent
            } );


        });
        
        // Connecting to the socket.io server :
        // - Port is the client's port
        // - The 'Update' event triggers a reloading of the window if the realms are the same (a gameId or "Lobby")
        var socket = io.connect('http://silex-test:8081');
        //var socket = io.connect('http://loconeko.dyndns.org:8080');
        socket.on('Update', function(realm){
            if ( realm === $("title").attr('realm') ) {
                window.location.reload(true) ;
            }
        });
        
        // any submit of a form with the 'json-submit' property will result is submitting data in json to the current route + '/verb'
        $(function(){
            $('.json-submit').submit(function(e){
                //prevent Default functionality
                e.preventDefault();

                // Add FORM data to a json variable made of [name] => value
                var data = $(this).serializeArray();
                var json = {};
                $.each(data, function() {
                    json[this.name] = this.value || '';
                });
                
                // Add sortable lists data to the json variable in the format [list name] => json array
                // For each sortable list with an id
                $('.sortable-list').each(function() {
                    if ($(this).attr('id')) {
                        var listName = $(this).attr('id') ;
                        json[listName] = [];
                        // Go through each li tag and add it to the json [list name] array
                        $(this).find('li').each(function() {
                            json[listName].push($(this).text());
                        });
                    }
                });
                
                // Emit the Update event to socket.io
                socket.emit('Update', $(this).attr('gameId'));
                
                $.post(
                    window.location.pathname + '/' + $(this).attr('verb') ,
                    json ,
                    function( data ) {
                        window.location.reload(true) ;
                    } ,
                    "json"
                );
            });
        });
        
        // Drop event when card dragged & dropped
        function handleDropEvent( event, ui ) {
            $(event.target).find('div[id^="Card_"]').remove();
            var clonedDraggable = ui.draggable.clone();
            clonedDraggable.css({'margin-left':'0px'});
            $(this).append(clonedDraggable);
        }
        
        </script>
        {% block scripts %}{% endblock %}

    </body>
</html>
