<!DOCTYPE html>
<html lang="en" style="height: 100%;" ws_client="{{app['WS_CLIENT']|default('')}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/css/sprite.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/css/general.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <style>
            .sortable-list-placeholder { background-color: #bbb; border: 1px dashed #666; margin-bottom: -1px; padding: 10px 15px; }
            .ui-resizable { position: relative;}
            .ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
            .ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
            .ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
        </style>
        <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    </head>
    
    <body style="{{ game is defined ? 'padding-bottom: 150px;' : '' }} height: 100%; overflow-y: hidden ;">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{app['BASE_URL']~'/'}}">Home</a>
                    {% block menu %}{% endblock %}
                    {% if game is defined %}
                        <span class="navbar-brand" style="color: darkblue ;">
                            {{game.getName()}} - {{game.getPhase()}}
                        </span>
                    {% endif %}
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('user.list') }}">List users</a></li>
                        {% if app.user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Hello, {{ app.user.displayName }}!
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('user') }}"><span class="glyphicon glyphicon-user"></span> View your profile</a></li>
                                    <li><a href="{{ path('user.edit', { id: app.user.id }) }}"><span class="glyphicon glyphicon-edit"></span> Edit your profile</a></li>
                                    <li><a href="{{ path('user.logout') }}"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('user.login') }}">Sign in</a></li>
                            <li><a href="{{ path('user.register') }}">Create account</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>

        <!--
            - Flashbag messages
        -->
        <div id="message" style="position: absolute; top: 52px; right: 100px; padding: 5px; z-index: 10;">
        {% for type , messages in app.session.flashbag.all() %}
            {%for message in messages %}
                    <div style="float: right; clear: right; display: inline-block;">
                        <div class="alert alert-{{type}} alert-dismissable" style="margin-bottom: 10px;" alert_number="{{loop.index}}">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    </div>
            {% endfor %}
        {% endfor %}
        </div>

        <!--
            - Main content
        -->
        <div id="main-area" 
            class="container-fluid" style="
             top:52px;
             height:100%;
             width:100%;
             border-top:52px solid transparent;
             -webkit-box-sizing:border-box;
             -moz-box-sizing:border-box;
             box-sizing:border-box;
             overflow-y:auto;
             overflow-x:hidden;
             padding-left: 80px;
             padding-right: 80px;
             padding-bottom: 5px;
             padding-top: 5px;
        ">

            {% block content %}
            {% endblock %}
        </div>
        
        <!--
            - Forces
        -->
        {% if game is defined %}
        <div style="position: absolute; right:15px; top:52px; margin-top:5px;">
            <a class='btn btn-success' data-placement='left' title="Rome current state" href='#' id='RomeCurrentState' data-trigger="hover">ROME</a>
            <div id='RomeCurrentState_content' style="display: none">
                <div id="VariousInfo">
                    <table class="table table-bordered" style="width:auto; font-weight: bold; ">
                        <tbody>
                            <tr>
                                <th>Treasury</th>
                                <td>{{game.getTreasury()}} T</td>
                            </tr>
                            <tr>
                                <th>Unrest</th>
                                <td>{{game.getUnrest()}}</td>
                            </tr>
                            <tr>
                                <th>Land Bills</th>
                                <td>TO DO</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="Forces">
                    <h3>Legions</h3>
                    <h4>In Rome</h4>
                    <ul class="list-unstyled">
                    {% for legion in game.getLegions() %}
                        {% if legion.getOtherLocation=='Rome' %}
                            {{legion.getName()}},  
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <h4>In Garrison</h4>
                </div>
            </div>
        </div>
        {% endif %}
        <!--
            Footer with :
            - Log
        -->

        {% if game is defined %}
        <div id="footer" style="border-top: thick solid darkgray; height: 150px;">
            <div class="footer" style="overflow-y: scroll; bottom: 0px; width: 100%; height: 100%; background-color: #f5f5f5; padding: 5px;">
                <p class="text-success">This will also contain the chat interface</p>
                <table class="table table-stripped">
                    {% for message in game.getAllMessages(app.user.id)%}
                    <tr>
                        <th style="white-space: nowrap;">
                            {{message.getTime()|date('Y/m/d H:i:s')}}
                        </th>
                        <td style="color: {{message.getColour()}}; width:100%; ">
                            {{message.show(app.user.id , game.getPartiesNames())}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
        
        {#
            Javascript :
            - The GeneralFunctions.js is always loaded
            - If a game is defined, the file js/{{phase}}/{{subphase}}.js is loaded
            - If no game is defined, the file js/Lobby.js is loaded
        #}
        <script src="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/js/GeneralFunctions.js"></script>
        {% if game is defined %}
            <script src="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/js/{{game.getPhase()}}/{{game.getSubPhase()}}.js"></script>
        {% else %}
            <script src="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/js/Lobby/Lobby.js"></script>
        {% endif %}
    </body>
</html>
