<!DOCTYPE html>
<html lang="en" style="height: 100%;" ws_client="{{app['WS_CLIENT']|default('')}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/css/sprite.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/..{{app['BASE_URL']}}/resources/css/general.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <style>
            .sortable-list-placeholder { background-color: #bbb; border: 1px dashed #666; margin-bottom: -1px; padding: 10px 15px; }
            .ui-resizable { position: relative;}
            .ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
            .ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
            .ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
        </style>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    </head>
    
    <body style="{{ game is defined ? 'padding-bottom: 150px;' : '' }} height: 100%; overflow-y: hidden ;">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{app['BASE_URL']~'/'}}">Home</a>
                    {% block menu %}{% endblock %}
                    {% if game is defined %}
                        <span class="navbar-brand" style="color: darkblue ;">
                            {{game.getName()}} - {{game.getPhase()}}
                        </span>
                    {% endif %}
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('user.list') }}">List users</a></li>
                        {% if app.user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Hello, {{ app.user.displayName }}!
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('user') }}"><span class="glyphicon glyphicon-user"></span> View your profile</a></li>
                                    <li><a href="{{ path('user.edit', { id: app.user.id }) }}"><span class="glyphicon glyphicon-edit"></span> Edit your profile</a></li>
                                    <li><a href="{{ path('user.logout') }}"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('user.login') }}">Sign in</a></li>
                            <li><a href="{{ path('user.register') }}">Create account</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>

        <!--
            - Flashbag messages
        -->
        {% if game is defined %}
            <div id="message" style="position: absolute; top: 52px; right: 100px; padding: 5px; z-index: 10;">
            {% for type , messages in app.session.flashbag.all() %}
                {%for message in messages %}
                        <div style="float: right; clear: right; display: inline-block;">
                            <div class="alert alert-{{type}} alert-dismissable" style="margin-bottom: 10px;" alert_number="{{loop.index}}">
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        </div>
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}

        <!--
            - Main content
        -->
        <div id="main-area" 
            class="container-fluid" style="
             top:52px;
             height:100%;
             width:100%;
             border-top:52px solid transparent;
             -webkit-box-sizing:border-box;
             -moz-box-sizing:border-box;
             box-sizing:border-box;
             overflow-y:auto;
             overflow-x:hidden;
             padding-left: 80px;
             padding-right: 80px;
             padding-bottom: 5px;
             padding-top: 5px;
        ">

            {% block content %}
            {% endblock %}
        </div>
        
        <!--
            - Forces
        -->
        {% if game is defined %}
        <div style="position: absolute; right:15px; top:52px; margin-top:5px;">
            <a class='btn btn-success' data-placement='left' title="Rome current state" href='#' id='RomeCurrentState' data-trigger="hover">ROME</a>
            <div id='RomeCurrentState_content' style="display: none">
                <div id="VariousInfo">
                    <table class="table table-bordered" style="width:auto; font-weight: bold; ">
                        <tbody>
                            <tr>
                                <th>Treasury</th>
                                <td>{{game.getTreasury()}} T</td>
                            </tr>
                            <tr>
                                <th>Unrest</th>
                                <td>{{game.getUnrest()}}</td>
                            </tr>
                            <tr>
                                <th>Land Bills</th>
                                <td>TO DO</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="Forces">
                    <h3>Legions</h3>
                    <h4>In Rome</h4>
                    <ul class="list-unstyled">
                    {% for legion in game.getLegions() %}
                        {% if legion.getOtherLocation=='Rome' %}
                            {{legion.getName()}},  
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <h4>In Garrison</h4>
                </div>
            </div>
        </div>
        {% endif %}
        <!--
            Footer with :
            - Log
        -->

        {% if game is defined %}
        <div id="footer" style="border-top: thick solid darkgray; height: 150px;">
            <div class="footer" style="overflow-y: scroll; bottom: 0px; width: 100%; height: 100%; background-color: #f5f5f5; padding: 5px;">
                <p class="text-success">This will also contain the chat interface</p>
                <table class="table table-stripped">
                    {% for message in game.getAllMessages(app.user.id)%}
                    <tr>
                        <th style="white-space: nowrap;">
                            {{message.getTime()|date('Y/m/d H:i:s')}}
                        </th>
                        <td style="color: {{message.getColour()}}; width:100%; ">
                            {{message.show(app.user.id , game.getPartiesNames())}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
        
        <!--
            Scripts for :
            - JqueryUI : Sortable lists
            - SocketIO : reload window when 'Update' received
            - Jquery - on POST : submit FORM data as Json array
            - Jquery - on POST : include any sortable list data to the Json array
            - Jquery - on POST : Post to a URL with the 'verb' as the last part of the route
            - SocketIO - on POST : Emit 'Update'
        -->

        <script>
        /* jquery code for jqueryUI to handle :
         * - Sortable lists
         * - Resizable (like the footer)
         * - Draggable cards
         * - Droppable card Slots
         * - Droppable Senator cards
         */
        $(document).ready(function(){
            $('.sortable-list').sortable({
                connectWith: '.sortable-list',
                placeholder: 'sortable-list-placeholder'
            });
            
            /* Draggable with a clone as a helper :
             * - All Senators (class sprite-Senator)
             * - All cards with the draggable class
             */
            $('.sprite-Senator , .sprite-Card , .draggable').each(function() {
                $(this).draggable({
                    zIndex: 500,
                    scroll:true,
                    start: function (event, ui) {
                       $(this).data("startingScrollTop",window.pageYOffset);
                    },
                    drag: function(event,ui){
                       var st = parseInt($(this).data("startingScrollTop"));
                       ui.position.top -= st;
                    },
                    cursor: 'move' ,
                    helper: 'clone'
                });
            });
            
            // Popover
            // - Rome Current State
            $('#RomeCurrentState').popover({ 
                container : 'body',
                html : true,
                content: function() {
                    return $('#RomeCurrentState_content').html();
                }
            });

            $('.sprite-position-name').popover();

            // jQueryUI resizable
            // - Footer
            $( "#footer" ).resizable({
                handles: 'n' ,
                alsoResizeReverse: "#main-area"
            });

        });
        
        // Connecting to the socket.io server :
        // - The socket.io server is connected to a URL given as an attribute to the HTML tag 
        // - The 'Update' event triggers a reloading of the window if the realms are the same (a gameId or "Lobby")
        var socket = io.connect($("html").attr('ws_client'));
        socket.on('Update', function(realm){
            if ( realm === $("title").attr('realm') ) {
                window.location.reload(true) ;
            }
        });
        
        // any submit of a form with the 'json-submit' property will result is submitting data in json to the current route + '/verb'
        // The json data will also include the data of <li> elements from any sortable list (class "sortable-list")
        $(function(){
            $('.json-submit').submit(function(e){
                //prevent Default functionality
                e.preventDefault();

                // Add FORM data to a json; variable made of [name] => value
                var data = $(this).serializeArray();
                var json = {};
                $.each(data, function() {
                    json[this.name] = this.value || '';
                });
                
                // Add sortable lists data to the json variable in the format [list name] => json array
                // For each sortable list with an id
                $('.sortable-list').each(function() {
                    if ($(this).attr('id')) {
                        var listName = $(this).attr('id') ;
                        json[listName] = [];
                        // Go through each li tag and add it to the json [list name] array
                        $(this).find('li').each(function() {
                            json[listName].push($(this).text());
                        });
                    }
                });

                /* Emit the Update event to socket.io
                 * This requires a gameId in the "realm" attribute of the title
                 */
                socket.emit('Update', $("title").attr('realm'));
                
                $.post(
                    window.location.pathname + '/' + $(this).attr('verb') ,
                    json ,
                    function( data ) {
                        window.location.reload(true) ;
                    } ,
                    "json"
                );
            });
        });
        
        // Add a AlsoResize reverse function
        $.ui.plugin.add("resizable", "alsoResizeReverse", {
            start: function() {
                var that = $(this).resizable( "instance" ),
                    o = that.options;

                $(o.alsoResizeReverse).each(function() {
                    var el = $(this);
                    el.data("ui-resizable-alsoresizeReverse", {
                        height: parseInt(el.height(), 10), top: parseInt(el.css("top"), 10)
                    });
                });
            },

            resize: function(event, ui) {
                var that = $(this).resizable( "instance" ),
                    o = that.options,
                    os = that.originalSize,
                    op = that.originalPosition,
                    delta = {
                        height: (that.size.height - os.height) || 0,
                        top: (that.position.top - op.top) || 0
                    };

                $(o.alsoResizeReverse).each(function() {
                    var el = $(this), start = $(this).data("ui-resizable-alsoresize-reverse"), style = {},
                        css = el.parents(ui.originalElement[0]).length ?
                            [ "height" ] :
                            [ "height", "top" ];

                    $.each(css, function(i, prop) {
                        var sum = (start[prop] || 0) - (delta[prop] || 0);
                        if (sum && sum >= 0) {
                            style[prop] = sum || null;
                        }
                    });

                    el.css(style);
                });
            },

            stop: function() {
                $(this).removeData("resizable-alsoresize-reverse");
            }
        });
        
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
