{#

#}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{app['BASE_URL']~'/'}}">Home</a>
            {% if game is not defined %}
                {% block menu %}
                <a class="navbar-brand" href="{{ path('ListGames')  }}">List</a>
                <a class="navbar-brand" href="{{ path('CreateGame') }}">Create</a>
                {% endblock %}
            {% else%}
                <span class="navbar-brand" style="color: darkblue ;">
                    {{game.getName()}} - {{game.getPhase()}} - {{game.getSubPhase()}}
                </span>
            {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('user.list') }}">List users</a></li>
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hello, {{ app.user.displayName }}!
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('user') }}"><span class="glyphicon glyphicon-user"></span> View your profile</a></li>
                            <li><a href="{{ path('user.edit', { id: app.user.id }) }}"><span class="glyphicon glyphicon-edit"></span> Edit your profile</a></li>
                            <li><a href="{{ path('user.logout') }}"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('user.login') }}">Sign in</a></li>
                    <li><a href="{{ path('user.register') }}">Create account</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
