<table class="table table-bordered" style="width:auto; font-size: 150%; font-weight: bold; text-shadow: 1px 1px #888888;">
    <tbody>
        <tr>
            <td class="success">Party votes :</td>
            <td colspan="2">{% embed 'BoardElements/ActionToken.twig' with {'action': view.interface['senateGeneralVote']}%}{% endembed %}</td>
        </tr>
        <tr>
            <td class="success text-center" colspan="3">Senators</td>
        </tr>
        {% for senatorVote in view.interface['senateVoteSenators'] %}
            <tr>        
                <td>{{senatorVote['name']}}</td>
                <td>
                    <div class="senatorVotePopover" {% for key , attribute in senatorVote['attributes']|default([]) %} {{key}}="{{attribute}}"{% endfor %}>
                        {{senatorVote['votes']}}
                    </div>
                </td>
                <td>
                    {% if senatorVote['votes']>0 %}
                        {{senatorVote['treasury']}} T.
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>