{% extends layout_template  %}

{% block title %}
    <title realm="Lobby">List TEPEKS</title>
{% endblock %}

{% block content %}
    <h2>List</h2>
    <div class="table-responsive table-bordered ">
        <table class="table table-hover" id='listGames'>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Scenario</th>
                    <th>#Players</th>
                    <th>Variants</th>
                    <th>Turn</th>
                    <th>Phase</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for game in list %}
                {% set partieslist='' %}
                {% for party in game['parties'] %}
                    {% set partieslist = partieslist ~ party['name'] ~ ' (' ~ app['user.manager'].getUser(party['user_id']).getDisplayName()|default('N/A') ~ ')<br>' %}
                {% endfor %}
                <tr>
                    <th scope="row">{{game['id']}}</th>
                    <td>{{game['name']}}</td>
                    <td>{{game['scenario']}}</td>
                    <td><a data-toggle="tooltip" data-html="true" href="#" title="{{partieslist}}">{{game['parties']|length}}</a></td>
                    <td>{{game['variants']|join(', ')}}</td>
                    <td>{{game['turn']}}</td>
                    <td>{{game['phase']}}</td>
                    <td>{{game['created']|date('Y/m/d H:i')}}</td>
                    <td>
                        {% if game['state'] == 'CAN_JOIN' %}
                            <a href="{{ path('JoinGame' , {'game_id' : game['id'] }) }}">
                                <span class="label label-primary">JOIN</span>
                            </a>
                        {% elseif game['state'] == 'JOINED' %}
                            <a href="{{ path('JoinGame' , {'game_id' : game['id'] }) }}">
                                <span class="label label-warning">JOINED (not ready)</span>
                            </a>
                        {% elseif game['state'] == 'READY' %}
                            <a href="{{ path('JoinGame' , {'game_id' : game['id'] }) }}">
                                <span class="label label-success">JOINED (ready)</span>
                            </a>
                        {% elseif game['state'] == 'FULL' %}
                            <span class="label label-danger">FULL</span>
                        {% elseif game['state'] == 'STARTED' %}
                            <span class="label label-danger">STARTED</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}

{% block scripts %}
            
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip() ;
        }) ;
        $(document).ready(function(){
            $('#listGames').dataTable();
        });
    </script>
    
{% endblock %}
