{% extends layout_template  %}

{% block title %}
    <title realm="Lobby">List TEPEKS</title>
{% endblock %}

{% block menu %}
    <a class="navbar-brand" href="{{ path('ListGames') }}">List</a>
    <a class="navbar-brand" href="{{ path('CreateGame') }}">Create</a>
{% endblock %}

{% block content %}
    <h2>List</h2>
    <div class="table-responsive table-bordered ">
        <table class="table table-hover" id='listGames'>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Scenario</th>
                    <th>#Players</th>
                    <th>Variants</th>
                    <th>Turn</th>
                    <th>Phase</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for game in list %}
                {% set partieslist='' %}
                {% for party in game.getParties() %}
                    {% set partieslist = partieslist ~ party.getName() ~ ' (' ~ app['user.manager'].getUser(party.getUser_id()).getDisplayName()|default('N/A') ~ ')<br>' %}
                {% endfor %}
                <tr>
                    <th scope="row">{{game.getId()}}</th>
                    <td>{{game.getName()}}</td>
                    <td>{{game.getScenario()}}</td>
                    <td><button data-toggle="tooltip" data-html="true" href="#" title="{{partieslist}}" class="btn btn-primary btn-xs">{{game.getNumberOfPlayers()}}</button></td>
                    <td>{{game.getVariants()|join(', ')}}</td>
                    <td>{{game.getTurn()}}</td>
                    <td>{{game.getPhase()}}</td>
                    <td>{{game.getCreated()|date('Y/m/d H:i')}}</td>
                    <td>
                        {% set gamestate = game.getGameState(app.user.id) %}
                        {% if gamestate == 'CAN_JOIN' %}
                            <a href="{{ path('JoinGame' , {'game_id' : game.getId() }) }}">
                                <span class="label label-primary">JOIN</span>
                            </a>
                        {% elseif gamestate == 'JOINED' %}
                            <a href="{{ path('JoinGame' , {'game_id' : game.getId() }) }}">
                                <span class="label label-warning">JOINED (not ready)</span>
                            </a>
                        {% elseif gamestate == 'READY' %}
                            <a href="{{ path('JoinGame' , {'game_id' : game.getId() }) }}">
                                <span class="label label-success">JOINED (ready)</span>
                            </a>
                        {% elseif gamestate == 'FULL' %}
                            <span class="label label-danger">FULL</span>
                        {% elseif gamestate == 'STARTED' %}
                            <span class="label label-danger">STARTED</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}

{% block scripts %}
            
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip() ;
        }) ;
        $(document).ready(function(){
            $('#listGames').dataTable();
        });
    </script>
    
{% endblock %}
