{#
    Creates an action token from the action array
    The type of token is determined by action['type'] which can be 'icon' , 'button' , 'select'
#}

{% if action['type']=='icon' %}
    {#
        An icon has :
        - verb : the action verb used when the token is dropped
        - caption : The tooltip on the icon
        - text : The text next to the icon
    #}
    <div class="btn btn-default btn-lg draggable" verb='{{action['verb']}}' title='{{action['caption']}}'>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>{{action['text']}}
    </div>
{% elseif action['type']=='button' %}
    {#
        A button has :
        - verb : the action verb used when the form is submitted by the click of the button
        - text : The text on the button
        - user_id : The user_id of the user clicking the button
        - (optional) disabled : disabled by default or not
    #}
    <form class='form-inline json-submit' user_id='{{action['user_id']}}' verb='{{action['verb']}}'>
        <button type="submit" class="btn btn-warning {{action['disabled']|default(FALSE) ? 'disabled' : ''}}">{{action['text']}}</button>
    </form>
{% elseif action['type']=='select' %}
    {#
        A select has :
        - a class (to plugin JavaScript functions)
        - items : An array of items with 'attribute name' => 'attribute value'
    #}
    <div class="form-group">
        <select class="form-control {{action['class']|default('')}}">
            {% for item in action['items'] %}
                <option 
                    {% for key, value in item %}
                        {{key}} = "{{value}}"
                    {% endfor %}
                    >{{item['description']|escape('html')}}</option>
            {% endfor %}
        </select>
    </div>
{% elseif action['type']=='disabledInput' %}
    <input type="text" class="form-control {{action['class']|default('')}}" disabled="disabled">
{% endif %}