{#
    Creates an action token from the action array
    The type of token is determined by action['type'] which can be 'icon' , 'button' , 'select' , 'disabled input'
#}

{% if action['type']=='icon' %}
    {#
        An icon has :
        - verb : the action verb used when the token is dropped
        - caption : The tooltip on the icon
        - text : The text next to the icon
    #}
    <div class="btn btn-default btn-lg draggable" verb='{{action['verb']}}' title='{{action['caption']}}'>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>{{action['text']}}
    </div>
{% elseif action['type']=='button' %}
    {#
        A button is contained in its own <form> and has :
        - verb : the action verb used when the form is submitted by the click of the button
        - text : The text on the button
        - user_id : The user_id of the user clicking the button
        - (optional) disabled : disabled by default or not
        TO DO : Replace all those by submitWithVerb
    #}
    <form class='form-inline json-submit' user_id='{{action['user_id']}}' verb='{{action['verb']}}'>
        <button type="submit" class="btn btn-warning {{action['disabled']|default(FALSE) ? 'disabled' : ''}}">{{action['text']}}</button>
    </form>
{% elseif action['type']=='submitWithVerb' %}
    {#
        A submitWithVerb creates a button with :
        - verb : the action verb. When the button is clicked, a JS function updates the parent's form verb and submits the form
        - text : The text on the button
        - (optionql) style : Can be btn-default , btn-primary , btn-success , btn-info , btn-warning (default), btn-danger , btn-link
        - (optional) disabled : disabled by default or not
    #}
    <button type="submit" class="btn btn-{{action['style']|default('warning')}} {{action['disabled']|default(false) ? 'disabled' : ''}} submitWithVerb" verb='{{action['verb']}}'>{{action['text']}}</button>
{% elseif action['type']=='select' %}
    {#
        A select has :
        - a class (to plugin JavaScript functions)
        - items : An array of items with 'attribute name' => 'attribute value'
        - One of those must be 'description' => 'XXXX'
    #}
    <div class="form-group">
        <select class="form-control {{action['class']|default('')}}" name="{{action['class']|default('')}}">
            {% for item in action['items'] %}
                <option {% for key, value in item %} {{key}}="{{value}}"{% endfor %} >
                    {{item['description']|escape('html')}}
                </option>
            {% endfor %}
        </select>
    </div>
{% elseif action['type']=='disabledInput' %}
    <input type="text" class="form-control {{action['class']|default('')}}" disabled="disabled">
{% elseif action['type']=='modalSlider' %}
    {#
        Modal slider
    #}
    <div class="modal fade" id="{{action['modalID']}}" tabindex="-1" role="dialog" aria-labelledby="{{action['modalID']}}_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="{{action['modalID']}}_label">{{action['title']}}</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="{#redistributionAmount#}{{action['modalID']}}_value" style="border:0; font-weight:bold; font-size: 2em; background: white;">
                    <div id="{#redistributionSlider#}{{action['modalID']}}_slider"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="{#submitRedistribution#}{{action['submitVerb']}}">{{action['submitText']}}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}