<div class="btn-group" role="group" aria-label="Header" style="font-size:20px">
  <button type="button" class="btn btn-outline-primary btn-lg">Turn : <strong>{{view.game.turn}}</strong></button>
  <button type="button" class="btn btn-outline-primary btn-lg">Phase : <strong>{{view.game.phase}}</strong></button>
  <button type="button" class="btn btn-outline-primary btn-lg">Sub Phase : <strong>{{view.game.subPhase}}</strong></button>
  <button type="button" class="btn btn-outline-primary btn-lg">{{view.game.HRAOorPresident}} : <strong>{{view.game.HRAO_name}}</strong></button>
  <button type="button" class="btn btn-outline-primary btn-lg">Order of play :
      <strong>
            {% for position in view.game.orderOfPlay %}
                <span class="{{ (position['playingNow']) ? 'orderOfPlay-on' : ''}}">
                    <a href="#Party_{{position['user_id']}}" class="{{ (position['playingNow']) ? '' : 'orderOfPlay-off'}}">{{ position['name']}}</a>
                </span>
                {{loop.last ? '' : '<span class="glyphicon glyphicon-arrow-right" style="margin-right: 4px; margin-left: 4px;" aria-hidden="true"></span>' }}
            {% endfor %}
      </strong>
  </button>
</div>
            
{#
    PHASE HEADER
#}

<h4>{{view.header['description']}}</h4>

{# Header : Details (optional) #}

{% if view.header['details']|default('')|length > 0 %}
    <h5>
        {% autoescape false %}
            {{view.header['details']}}
        {% endautoescape %}
    </h5>
{% endif %}

{# Header : List (optional) #}

{% if view.header['list']|default([])|length > 0 %}
    <ul>
        {% for item in view.header['list'] %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
{% endif %}

{# Header : Action (optional) #}

{% if view.header['actions']|default([])|length > 0 %}
    <div class="row">
        {% for action in view.header['actions'] %}
            <div class="col-md-6">
                {% embed 'BoardElements/ActionToken.twig' with {'action': action}%}
                {% endembed %}
            </div>
        {% endfor %}
    </div><br>
{% endif %}
