<div class="btn-group" role="group" aria-label="Header" style="font-size:20px; margin-bottom:15px;">
  <button type="button" class="btn btn-outline-primary btn-lg">Turn : <strong>{{view.game.turn}}</strong></button>
  <button type="button" class="btn btn-outline-primary btn-lg">Phase : <strong>{{view.game.phase}}</strong></button>
  {% if view.game.subPhase|length > 0 %}
    <button type="button" class="btn btn-outline-primary btn-lg">Sub Phase : <strong>{{view.game.subPhase}}</strong></button>
  {% endif %}
  <button type="button" class="btn btn-outline-primary btn-lg">{{view.game.HRAOorPresident}} : <strong>{{view.game.HRAO_name}}</strong></button>
  <button type="button" class="btn btn-outline-primary btn-lg">Order of play :
      <strong>
            {% for position in view.game.orderOfPlay %}
                <span class="{{ (position['playingNow']) ? 'orderOfPlay-on' : ''}}">
                    <a href="#Party_{{position['user_id']}}" class="{{ (position['playingNow']) ? '' : 'orderOfPlay-off'}}">{{ position['name']}}</a>
                </span>
                {{loop.last ? '' : '<span class="glyphicon glyphicon-arrow-right" style="margin-right: 4px; margin-left: 4px;" aria-hidden="true"></span>' }}
            {% endfor %}
      </strong>
  </button>
</div><br>

{# DIE ROLL : When we have a die roll, it should be stored in the game. If that's the case, display the roll in the header #}

{% set dieRoll = view.game.dieRoll %}
{% if dieRoll|length > 0 %}
    <div class="btn-group" role="group" aria-label="Header">
        <button type="button" class="btn btn-secondary btn-lg"  style="font-weight: bold; font-stretch: ultra-condensed; margin-right:5px;">Latest roll : </button>
        {% for key,die in dieRoll %}
            {% if key|length == 1 %}
                {# TO DO : Make something better than this #}
                <button type="button" class="btn btn-outline-secondary btn-lg active {{key==0 ? 'die-black' : 'die-white'}}" style="margin-right:5px;">
                    &#x{{2159+die}};
                </button>
            {% endif %}
        {% endfor %}
        <button type="button" class="btn btn-outline-default btn-lg active"  style="font-weight: bold; margin-right:5px;">=</button>
        <button type="button" class="btn btn-outline-secondary btn-lg active"  style="font-weight: bold;">{{dieRoll['total']}}</button>
    </div>
{% endif %}
            
{#
    PHASE HEADER
#}

<h4>{{view.header['description']}}</h4>

{# Header : Details (optional) #}

{% if view.header['details']|default('')|length > 0 %}
    <h5>
        {% autoescape false %}
            {{view.header['details']}}
        {% endautoescape %}
    </h5>
{% endif %}

{# Header : List (optional) #}

{% if view.header['list']|default([])|length > 0 %}
    <ul>
        {% for item in view.header['list'] %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
{% endif %}

{# Header : Action (optional) #}

{% if view.header['actions']|default([])|length > 0 %}
    <div class="row">
        {% for action in view.header['actions'] %}
            <div class="col-md-6">
                {% embed 'BoardElements/ActionToken.twig' with {'action': action}%}
                {% endembed %}
            </div>
        {% endfor %}
    </div><br>
{% endif %}
