{% extends layout_template  %}

{% block title %}
    <title realm="{{game.getId()}}">{{game.getPhase()}}</title>
{% endblock %}

{% block content %}

    <h4>
        Current HRAO: <strong>{{game.displayContextualName(game.getHRAO().getFullName() , app.user.id)}}</strong> , 
        Order of play : 
        {% set orderOfPlay = game.getOrderOfPlay() %}
        {% for position in orderOfPlay %}
            <span style="{{ ( game.whoseTurn()!=false and game.whoseTurn().getUser_id()==position.getUser_id() ) ? 'font-weight: bold;' : 'color: lightgrey;'}}">
                <a href="#Party_{{position.getUser_id()}}" class="silent-link">{{ position.getName()}}</a>
            </span>
            {{loop.last ? '' : '<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>' }}
        {% endfor %}
    </h4>
    
    {% embed game.getPhase() ~ '/phaseMain.twig' with {'game' : game } %}
    {% endembed %}

    {#
        Display your Party
    #}
    
    <h3>Your Party</h3>
    {% embed 'BoardElements/Party.twig' with {'self' : TRUE , 'party' : game.getParty(app.user.id) } %}
    {% endembed %}

    {% if game.getParty(app.user.id).getHand().getNumberOfCards() == 0 %}
        <h3>Your Hand is empty</h3>
    {% else%}
        <h3>Your Hand</h3>
        <div class="row">
            {% for card in game.getParty(app.user.id).getHand().getCards() %}
                {% embed "BoardElements/Card.twig" with
                    {
                        'card': card ,
                        'action': card.getAction(TRUE)
                    } only
                %}
                {% endembed %}
            {% endfor %}
        </div>
    {% endif %}

    {#
        Display other parties
    #}

    <h3>Other Parties</h3>
    {% for party in game.getAllPartiesButOne(app.user.id).toArray() %}
        {% embed 'BoardElements/Party.twig' with {'self' : FALSE , 'party' : party } %}
        {% endembed %}
    {% endfor %}

    <h3>There is currently {{game.getDeck('drawDeck').getNumberOfCards()}} cards left to draw.</h3>
    
    {#
        Display the Forum
    #}

    <h3>The Forum</h3>
    {% if game.getDeck('forum').getNumberOfCards() > 0 %}
        <div class="row">
                {% for card in game.getDeck('forum').getCards() %}
                    {% embed "BoardElements/Card.twig" with
                        {
                            'card': card ,
                            'action': card.getAction()
                        } only
                    %}
                    {% endembed %}
                {% endfor %}
        </div>
    {% endif %}

    {#
        Display the Curia
    #}

    <h3>The Curia</h3>
    {% if game.getDeck('curia').getNumberOfCards() > 0 %}
        <div class="row">
                {% for card in game.getDeck('curia').getCards() %}
                    {% embed "BoardElements/Card.twig" with
                        {
                            'card': card ,
                            'action': card.getAction()
                        } only
                    %}
                    {% endembed %}
                {% endfor %}
        </div>
    {% endif %}
        
    {#
        Wars
    #}

    <h3>Wars</h3>
    {% set wars = [] %}
    {% set wars = wars|merge({'inactiveWars': 'Inactive'}) %}
    {% set wars = wars|merge({'activeWars': 'Active'}) %}
    {% set wars = wars|merge({'imminentWars': 'Imminent'}) %}
    {% set wars = wars|merge({'unprosecutedWars': 'Unprosecuted'}) %}
    {% for key,war in wars %}
        {% if game.getDeck(key).getNumberOfCards()>0%}
            <h4>{{war}}</h4>
            <div class="row">
                    {% for card in game.getDeck(key).getCards() %}
                        {% embed "BoardElements/Card.twig" with
                            {
                                'card': card ,
                                'action': card.getAction()
                            } only
                        %}
                        {% endembed %}
                    {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
        
    {#
        Events
    #}

    <h3>Events in play</h3>
        <table class="table table-bordered" style="width:auto; font-size: 100%; font-weight: bold; ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for key, event in game.getEvents %}
                    {% if event['level']>0 %}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{game.getEventProperty('number',key,'name')}}</td>
                            <td>{{event['level']}}</td>
                            <td style="font-size: 90%; font-weight: normal; ">{{game.getEventProperty('number',key,'description')}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        
    {#
        Debug : show all cards & decks, and allow moving a card to a deck
    #}

    <form class='form-inline json-submit' user_id='{{app.user.id}}' verb='MoveCard' gameId='{{game.getId()}}'>
        <h3>Debug - Cards</h3>
        <div class="btn-group" data-toggle="radio">
            {% for card in game.getFilteredCards()%}
                <div class="row">
                    <label>
                        <input type="radio" class="toggle" value="{{card.getId()}}" name="FromCard">
                        {{card.getName()}} [{{card.getLocation()['name']}}]
                    </label>
                </div>
            {% endfor %}
        </div>
        <h3>Debug - Decks</h3>
        <div class="btn-group" data-toggle="radio">
            {% for deck in game.getFilteredDecks()%}
                <div class="row">
                    <label>
                        <input type="radio" value="{{deck.getId()}}" name="ToDeck">
                        {{deck.getName()}}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <button type="submit" class="btn btn-warning">MOVE CARD</button>
        </div>
    </form>
        
{% endblock %}
