{% extends layout_template  %}

{% block title %}
    <title realm="{{game.getId()}}">Setup Base</title>
{% endblock %}

{% block content %}
    <h2>Setup Base</h2>
    {% set senators = game.getAllSenators() %}
    All Senators<br>
    {% for senator in senators %}
        {{senator.getName()}} [{{senator.getSenatorID()}}] - {{senator.getLocation()['type']}} - {{senator.getLocation()['name']}}
        {% if senator.getPreciseType() == 'Statesman' %}
            <pre>
                {{ dump(senator.statesmanPlayable(app.user.id)) }}
            </pre>
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}