{#
    FORUM PHASE
#}

<h4>{{header['initiativeDescription']}} - {{header['description']}}</h4>

{# Header : List (optional) #}

{% if header['list']|length > 0 %}
    <ul>
        {% for item in header['list'] %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
{% endif %}

{# Header : Action (optional) #}

{% if header['action']|length > 0 %}
    {% embed 'BoardElements/ActionToken.twig' with {'action': header['action']}%}
    {% endembed %}
{% endif %}

{#
    CONTENT
    Persuasion > PickTarget
#}

{% if gameView.subPhase == 'Persuasion' and content['interface']=='pickTarget' %}
    <br>
    <form class='form-inline json-submit' user_id='{{app.user.id}}' verb='persuasionPickTarget' gameId='{{gameView.realm}}'>
        <table class="table table-bordered" style="width:auto; font-size: 150%; font-weight: bold; ">
            <tbody>
                <tr>
                    <td class="success" style="text-shadow: 1px 1px #888888;">Target</td>
                    <td>{% embed 'BoardElements/ActionToken.twig' with {'action': content['targetList']}%}{% endembed %}</td>
                </tr>
                <tr>
                    <td class="success" style="text-shadow: 1px 1px #888888;">Persuader</td>
                    <td>{% embed 'BoardElements/ActionToken.twig' with {'action': content['persuaderList']}%}{% endembed %}</td>
                <tr>
                    <td class="success" style="text-shadow: 1px 1px #888888;">Spend</td>
                    <td>{% embed 'BoardElements/ActionToken.twig' with {'action': content['bribe']}%}{% endembed %}</td>
                </tr>
                <tr>
                    <td class="success" style="text-shadow: 1px 1px #888888;">Play card</td>
                    <td>{% embed 'BoardElements/ActionToken.twig' with {'action': content['card']}%}{% endembed %}</td>
                </tr>
                {% if not content['hideOdds'] %}
                <tr>
                    <td class="success" style="text-shadow: 1px 1px #888888;">Current Odds</td>
                    <td>{% embed 'BoardElements/ActionToken.twig' with {'action': {'type' : 'disabledInput' , 'class' : 'persuasionOdds'}}%}{% endembed %}</td>
                </tr>
                {% endif %}
                <tr>
                    <td style="text-shadow: 1px 1px #888888; text-align: center;" colspan="2">
                        <div class="row">
                            <div class="col-sm-6">{% embed 'BoardElements/ActionToken.twig' with {'action': content['noPersuasion']}%}{% endembed %}</div>
                            <div class="col-sm-6">{% embed 'BoardElements/ActionToken.twig' with {'action': content['persuade']}%}{% endembed %}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

{#
    Persuasion > Bribe or Roll
#}

{% elseif gameView.subPhase == 'Persuasion' and content['interface']=='bribeOrRoll' %}

    <br>
    <form class='form-inline json-submit' user_id='{{app.user.id}}' verb='bribeOrRoll' gameId='{{gameView.realm}}'>
        <table class="table table-bordered" style="width:auto; font-size: 150%; font-weight: bold; ">
            <tbody>
                <tr>
                    <td class="success" style="text-shadow: 1px 1px #888888;">Bribe more</td>
                    <td>{% embed 'BoardElements/ActionToken.twig' with {'action': content['persuasionAddedBribe']}%}{% endembed %}</td>
                </tr>
                <tr>
                    <td style="text-shadow: 1px 1px #888888; text-align: center;" colspan="2">
                        <div class="row">
                            <div class="col-sm-6">{% embed 'BoardElements/ActionToken.twig' with {'action': content['bribeMore']}%}{% endembed %}</div>
                            <div class="col-sm-6">{% embed 'BoardElements/ActionToken.twig' with {'action': content['persuasionRoll']}%}{% endembed %}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
                            
{#
    Persuasion > Counter bribe
#}

{% elseif gameView.subPhase == 'Persuasion' and content['interface']=='counterBribe' %}

    <br>
    <form class='form-inline json-submit' user_id='{{app.user.id}}' verb='persuasionCounterBribe' gameId='{{gameView.realm}}'>
        <table class="table table-bordered" style="width:auto; font-size: 150%; font-weight: bold; ">
            <tbody>
                <tr>
                    <td class="success" style="text-shadow: 1px 1px #888888;">Counter bribe</td>
                    <td>{% embed 'BoardElements/ActionToken.twig' with {'action': content['counterBribe']}%}{% endembed %}</td>
                </tr>
                <tr>
                    <td style="text-shadow: 1px 1px #888888; text-align: center;" colspan="2">
                        <div class="row">
                            <div class="col-sm-6">{% embed 'BoardElements/ActionToken.twig' with {'action': content['noCounterBribe']}%}{% endembed %}</div>
                            <div class="col-sm-6">{% embed 'BoardElements/ActionToken.twig' with {'action': content['persuasionCounterBribe']}%}{% endembed %}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% elseif gameView.subPhase == 'knights' %}
{% endif %}