<h1>Revenue - {{game.getSubPhase()}}</h1>
{#
    BASE
#}
{% if game.getSubPhase()=='Base' %}
    {% set revenueBase = game.getParty(app.user.id).revenue_base(game.getLegions())%}
    <h3>Summary:</h3>
    <table class="table table-bordered" style="width:auto; font-size: 150%; font-weight: bold; ">
        <thead>
            <tr>
                <th>Senators</th>
                <th>Leader</th>
                <th>Knights</th>
                <th>Concessions</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr class="success text-center" style="text-shadow: 1px 1px #888888;">
                <td>{{revenueBase['senators']}}</td>
                <td>{{revenueBase['leader']!='' ? 3 : 0}}</td>
                <td>{{revenueBase['knights']}}</td>
                <td>{{revenueBase['concessions_total']}}</td>
                <td class="danger">{{revenueBase['total']}}</td>
            </tr>
        </tbody>
    </table>
    {% if game.getParty(app.user.id).getIsDone() == FALSE %}
        
        <form class='form-inline json-submit' user_id='{{app.user.id}}' verb='RevenueDone'>

        <div class="panel-group" role="tablist" aria-multiselectable="true">

        {# Earn from drought or not #}
        
            {% set droughtLevel = game.getEventProperty('name' , 'Drought') %}
            {% if revenueBase['flag']['drought'] and droughtLevel>0 %}
                <div class="panel panel-default">
                    
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Generate more revenue from Concessions during Drought
                            </a>
                        </h4>
                    </div>
                    
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <table class="table table-bordered" style="width:auto; font-size: 120%; font-weight: bold; ">
                                <thead>
                                    <tr>
                                        <th>Senator</th>
                                        <th>POP</th>
                                        <th>Concession</th>
                                        <th>Extra income</th>
                                        <th>POP cost</th>
                                        <th>Generate extra income</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for concession in revenueBase['concessions'] %}
                                        <tr class="warning text-center">
                                            <td>{{concession['senator'].getName()}}</td>
                                            <td>{{concession['senator'].getPOP()}}</td>
                                            <td>{{concession['card'].getName()}}</td>
                                            <td>+{{droughtLevel * concession['card'].getIncome()}}</td>
                                            <td>{{(-1-droughtLevel)}}</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="{{concession['card'].getId()}}" value="YES" autocomplete="off">YES
                                                    </label>
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="{{concession['card'].getId()}}" value="NO" autocomplete="off" checked>NO
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                                
                </div>
            {% endif %}
        
        {# Provincial spoils #}
        
            {% if revenueBase['flag']['province']%}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Provincial spoils
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <table class="table table-bordered" style="width:auto; font-size: 120%; font-weight: bold; ">
                                <thead>
                                    <tr>
                                        <th>Senator</th>
                                        <th>Province</th>
                                        <th>Developed</th>
                                        <th>Senator income</th>
                                        <th>Take spoils</th>
                                        <th>Let Rome pay negatives</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for province in revenueBase['provinces'] %}
                                        <tr class="warning text-center">
                                            <td>{{province['senator'].getName()}}</td>
                                            <td>{{province['card'].getName()}}</td>

                                            {# If the Province is Overrun, don't display anything #}
                                            {% if province['card'].getOverrun() %}
                                                <td colspan='4'>Province was overrun by Barbarians and/or internal disorder.</td>
                                            {% else %}
                                                <td>{{province['card'].getDeveloped() ? 'YES' : 'NO' }}</td>
                                                <td>
                                                    {{province['card'].getIncome()[province['card'].getDeveloped() ? 'developed' : 'undeveloped']['senator']['variable']}}d{{(province['card'].getIncome()[province['card'].getDeveloped() ? 'developed' : 'undeveloped']['senator']['fixed'] < 0 ? '-' : '+' )}}{{province['card'].getIncome()[province['card'].getDeveloped() ? 'developed' : 'undeveloped']['senator']['fixed']|abs}}
                                                </td>
                                                <td>
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="{{province['card'].getId()}}[spoils]" value="YES" autocomplete="off">YES
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="{{province['card'].getId()}}[spoils]" value="NO" autocomplete="off" checked>NO
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="{{province['card'].getId()}}[rome]" value="YES" autocomplete="off">YES
                                                        </label>
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="{{province['card'].getId()}}[rome]" value="NO" autocomplete="off" checked>NO
                                                        </label>
                                                    </div>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
   
            {# Rebel maintaining legions #}
            
            {% if revenueBase['flag']['rebel']%}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Rebel legions maintenance
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <table class="table table-bordered" style="width:auto; font-size: 120%; font-weight: bold; ">
                                <thead>
                                    <tr>
                                        <th>Rebel</th>
                                        <th>Legions</th>
                                        <th>Maintenance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rebel in revenueBase['rebels'] %}
                                        <tr class="warning text-center">
                                            <td>{{province['senator'].getName()}}</td>
                                            <td>TO DO</td>
                                            <td>TO DO</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            
            </div>
            <button type="submit" class="btn btn-warning">Done</button>
        </form>
    {% else %}
        You are done with revenue and are currently waiting for :
        <ul>
            {% for party in game.getAllPartiesButOne(app.user.id) %}
                {% if not party.getIsDone() %}
                    <li>{{party.getFullName()}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <br>
{#
    REDISTRIBUTION
#}
{% elseif game.getSubPhase()=='Redistribution' %}
    {% if game.getParty(app.user.id).getIsDone() == FALSE %}
        {#
            If some legions are in the "released" location, this interface should not appear for the HRAO. He has to decide whether to maintain or disband them before.
        #}
        {% if game.areThereReleasedLegions() and game.getHRAO().getLocation()['value'].getUser_id() == app.user.id %}
            {#
            TO DO
            #}
        {% else %}
            <div class="btn btn-default btn-lg draggable revenueRedistribution" title='Drag and drop to transfer money to/from your party treasury' treasury='{{game.getParty(app.user.id).getTreasury()}}' item_name='your party treasury' user_id="{{game.getParty(app.user.id).getUser_id()}}">
                Your party : {{game.getParty(app.user.id).getTreasury()}}T
            </div>
            {% for otherParty in game.getAllPartiesButOne(app.user.id)%}
                <div class="btn btn-default btn-lg revenueRedistribution" title='Drop to transfer money to {{otherParty.getName()}}' item_name='{{otherParty.getName()}}' user_id="{{otherParty.getUser_id()}}">
                    {{otherParty.getName()}}
                </div>
            {% endfor %}
            <div class="modal fade" id="redistributionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="redistributionAmount" style="border:0; font-weight:bold; font-size: 2em;">
                            <div id="redistributionSlider"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="submitRedistribution" from_senator="" to_senator="" from_party="" to_party="">Transfer</button>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <form class='form-inline json-submit' user_id='{{app.user.id}}' verb='RedistributionDone'>
                <button type="submit" class="btn btn-warning">Done</button>
            </form>

            <script>
                $(document).ready(function(){
                    $('.revenueRedistribution , .sprite-Senator').droppable( {
                        tolerance: 'pointer',
                        drop: function ( event, ui ) {
                            // treasury is defined if you drag from party or Senator
                            var maxAmount = ui.draggable.attr('treasury') ;
                            var giver = ui.draggable.attr('item_name') ;
                            var recipient = $(event.target).attr('item_name') ;
                            $('#myModalLabel').text('Transfer from ' + giver + ' to ' + recipient );
                            $('#redistributionAmount' ).val('1T.' );
                            $('#redistributionSlider').slider({
                                min: 1,
                                max: maxAmount ,
                                value: 1,
                                slide: function( event, ui ) {
                                    $('#redistributionAmount').val( ui.value + 'T.' );
                                }
                            });
                            $('#redistributionModal').modal('show') ;
                            // Update the elements that hold the card_id and/or party_id of giver & recipient
                            if (ui.draggable.hasClass('sprite-Senator'))
                            {
                                $('#submitRedistribution').attr('from_senator' , ui.draggable.attr('card_id') ) ;
                                $('#submitRedistribution').attr('from_party' , '' ) ;
                            }
                            else
                            {
                                $('#submitRedistribution').attr('from_senator' , '' ) ;
                                $('#submitRedistribution').attr('from_party' , ui.draggable.attr('user_id') ) ;
                            }
                            if ($(event.target).hasClass('sprite-Senator'))
                            {
                                $('#submitRedistribution').attr('to_senator' , $(event.target).attr('card_id') ) ;
                                $('#submitRedistribution').attr('to_party' , '' ) ;
                            }
                            else
                            {
                                $('#submitRedistribution').attr('to_senator' , '' ) ;
                                $('#submitRedistribution').attr('to_party' , $(event.target).attr('user_id') ) ;
                            }
                        }
                    });
                    $('#submitRedistribution').click(function(){
                        $('#redistributionModal').modal('hide') ;
                        var json = {} ;
                        json['fromSenator'] = $('#submitRedistribution').attr('from_senator') ;
                        json['toSenator'] = $('#submitRedistribution').attr('to_senator') ;
                        json['fromParty'] = $('#submitRedistribution').attr('from_party') ;
                        json['toParty'] = $('#submitRedistribution').attr('to_party') ;
                        json['amount'] = $('#redistributionSlider').slider('option' , 'value') ;

                        /* Emit the Update event to socket.io
                         * This requires a gameId in the "realm" attribute of the title
                         */
                        socket.emit('Update', $("title").attr('realm'));

                        $.post(
                            window.location.pathname + '/Redistribute',
                            json ,
                            function( data ) {
                                window.location.reload(true) ;
                            } ,
                            "json"
                        );
                    });
                });
            </script>
        {% endif %}

    {% else %}
        You are done with redistribution and are currently waiting for :
        <ul>
            {% for party in game.getAllPartiesButOne(app.user.id) %}
                {% if not party.getIsDone() %}
                    <li>{{party.getFullName()}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{#
    CONTRIBUTIONS
#}
{% elseif game.getSubPhase()=='Contributions' %}
    {% if game.getParty(app.user.id).getIsDone() == FALSE %}
        <form class='form-inline json-submit' user_id='{{app.user.id}}' verb='ContributionsDone'>
            <button type="submit" class="btn btn-warning">Done</button>
        </form>
        {#
            MODAL SLIDER
        #}
        <div class="modal fade" id="contributionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="contributionAmount" style="border:0; font-weight:bold; font-size: 2em;">
                        <div id="contributionSlider"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="submitContribution" from_senator="">Give to Rome</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            {#
                Bypass the default json-submit by checking the "Give to Rome" verb, in order to make the slider modal pop up before submitting
                Get all needed information (card_id , treasury) from the Senator card
            #}
            $(document).ready(function(){
                $("form[verb='Give to Rome']").submit(function(e){
                    //prevent Default functionality
                    e.preventDefault();
                    // Get the card_id from the FORM object
                    var card_id = $('[name="card_id"]').attr('value') ;
                    // Get the treasury from the card object, found through its card_id
                    var maxAmount = $('[card_id="'+card_id+'"]').attr('treasury') ;
                    $('#contributionSlider').slider({
                        min: 1,
                        max: maxAmount ,
                        value: 1,
                        slide: function( event, ui ) {
                            $('#contributionAmount').val( ui.value + 'T.' );
                        }
                    });
                    $('#contributionModal').modal('show') ;
                    $('#submitContribution').attr('from_senator' , card_id ) ;

                });
                $('#submitContribution').click(function(){
                    $('#contributionModal').modal('hide') ;
                    var json = {} ;
                    json['fromSenator'] = $('#submitContribution').attr('from_senator') ;
                    json['amount'] = $('#contributionSlider').slider('option' , 'value') ;

                    /* Emit the Update event to socket.io
                     * This requires a gameId in the "realm" attribute of the title
                     */
                    socket.emit('Update', $("title").attr('realm'));

                    $.post(
                        window.location.pathname + '/Contribute',
                        json ,
                        function( data ) {
                            window.location.reload(true) ;
                        } ,
                        "json"
                    );
                });

            });
        </script>
    {% else %}
        You are done with contributions and are currently waiting for :
        <ul>
            {% for party in game.getAllPartiesButOne(app.user.id) %}
                {% if not party.getIsDone() %}
                    <li>{{party.getFullName()}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    
{% endif %}