{#
    SUMMARY
#}
<br><br>
<table class="table table-bordered" style="width:auto; font-size: 150%; font-weight: bold; ">
    <thead>
        <tr>
            <th>Senators</th>
            <th>Leader</th>
            <th>Knights</th>
            <th>Concessions</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success text-center" style="text-shadow: 1px 1px #888888;">
            <td>{{view.interface['base']['senators']}}</td>
            <td>{{view.interface['base']['leader']!='' ? 3 : 0}}</td>
            <td>{{view.interface['base']['knights']}}</td>
            <td>{{view.interface['base']['concessions_total']}}</td>
            <td class="danger">{{view.interface['base']['total']}}</td>
        </tr>
    </tbody>
</table>
        
{#
    INTERFACE
#}

<div class="panel-group" role="tablist" aria-multiselectable="true">

{#
    DROUGHT
#}

    {% if view.interface['base']['flag']['drought'] and view.interface['droughtLevel']>0 %}
        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Generate more revenue from Concessions during Drought
                    </a>
                </h4>
            </div>

            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <table class="table table-bordered" style="width:auto; font-size: 120%; font-weight: bold; ">
                        <thead>
                            <tr>
                                <th>Senator</th>
                                <th>POP</th>
                                <th>Concession</th>
                                <th>Extra income</th>
                                <th>POP cost</th>
                                <th>Generate extra income</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for concession in view.interface['base']['concessions'] %}
                                <tr class="warning text-center">
                                    <td>{{concession['senator'].getName()}}</td>
                                    <td>{{concession['senator'].getPOP()}}</td>
                                    <td>{{concession['card'].getName()}}</td>
                                    <td>+{{view.interface['droughtLevel'] * concession['card'].getIncome()}}</td>
                                    <td>{{(-1-content['droughtLevel'])}}</td>
                                    <td>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary">
                                                <input type="radio" name="{{concession['card'].getCardId()}}" value="YES" autocomplete="off">YES
                                            </label>
                                            <label class="btn btn-primary active">
                                                <input type="radio" name="{{concession['card'].getCardId()}}" value="NO" autocomplete="off" checked>NO
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    {% endif %}

{#
    PROVINCIAL SPOILS
#}

    {% if view.interface['base']['flag']['province']%}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Provincial spoils
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <table class="table table-bordered" style="width:auto; font-size: 120%; font-weight: bold; ">
                        <thead>
                            <tr>
                                <th>Senator</th>
                                <th>Province</th>
                                <th>Developed</th>
                                <th>Senator income</th>
                                <th>Take spoils</th>
                                <th>Let Rome pay negatives</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for province in view.interface['base']['provinces'] %}
                                <tr class="warning text-center">
                                    <td>{{province['senator'].getName()}}</td>
                                    <td>{{province['card'].getName()}}</td>

                                    {# If the Province is Overrun, don't display anything #}
                                    {% if province['card'].getOverrun() %}
                                        <td colspan='4'>Province was overrun by Barbarians and/or internal disorder.</td>
                                    {% else %}
                                        <td>{{province['card'].getDeveloped() ? 'YES' : 'NO' }}</td>
                                        <td>
                                            {{province['card'].getIncome()[province['card'].getDeveloped() ? 'developed' : 'undeveloped']['senator']['variable']}}d{{(province['card'].getIncome()[province['card'].getDeveloped() ? 'developed' : 'undeveloped']['senator']['fixed'] < 0 ? '-' : '+' )}}{{province['card'].getIncome()[province['card'].getDeveloped() ? 'developed' : 'undeveloped']['senator']['fixed']|abs}}
                                        </td>
                                        <td>
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="{{province['card'].getCardId()}}[spoils]" value="YES" autocomplete="off">YES
                                                </label>
                                                <label class="btn btn-primary active">
                                                    <input type="radio" name="{{province['card'].getCardId()}}[spoils]" value="NO" autocomplete="off" checked>NO
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="{{province['card'].getCardId()}}[rome]" value="YES" autocomplete="off">YES
                                                </label>
                                                <label class="btn btn-primary active">
                                                    <input type="radio" name="{{province['card'].getCardId()}}[rome]" value="NO" autocomplete="off" checked>NO
                                                </label>
                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

{#
    REBEL LEGIONS MAINTENANCE
#}

    {% if view.interface['base']['flag']['rebel']%}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Rebel legions maintenance
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <table class="table table-bordered" style="width:auto; font-size: 120%; font-weight: bold; ">
                        <thead>
                            <tr>
                                <th>Rebel</th>
                                <th>Legions</th>
                                <th>Maintenance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rebel in view.interface['base']['rebels'] %}
                                <tr class="warning text-center">
                                    <td>{{province['senator'].getName()}}</td>
                                    <td>TO DO</td>
                                    <td>TO DO</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

</div>